earams{
  project_name = "ri.b38"
  sample_sheet = "/users/gerrit/ggvp/varcall/cram-to-fastq/ggvp.samplesheet.tsv"
  out_dir = "/cbio/users/gerrit/ggvp/nextflow-out-cram-to-fastq"
  ref_seq = "/cbio/dbs/gatk/2.8/b37/human_g1k_v37_decoy.fasta"
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit one job per minutde
}

// Default process settings
process{

    cache = true

    withLabel: samtools {
         container = 'docker://quay.io/grbot/samtools'
    }

    cpus = 1
    memory = 4.GB
    time = 8.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000
}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
        process.clusterOptions = '--account b56-cbio-001-ag'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
         process.executor = 'pbs'
         process.queue = 'dev'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.txt"
}

singularity {
  autoMounts = true
  enabled = true
}
