params{
  project_name = "project"
  sample_sheet = "/path-to-sample-sheet"
  out_dir = "/path-to-output-dir"
  ref_seq = "/path-to-ref"
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
}

// Default process settings
process{

    cache = true

    withLabel: samtools {
         container = 'docker://quay.io/grbot/samtools'
    }

    cpus = 1
    memory = 4.GB
    time = 4.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000
}

profiles {
    standard {
        process.executor = 'local'
    }
    
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
   }
   
   wits_slurm {		
        process.executor = 'slurm'		
        process.queue = 'batch'		
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.txt"
}

singularity {
  autoMounts = true
  enabled = true
}
