params.project_name = "test"

manifest {
    author = 'Gerrit Botha'
    defaultBranch = 'main'
    homePage = 'https://github.com/grbot/varcall'
    description = ''
    mainScript = 'main.nf'
    version = ''
}

singularity {
    enabled = true
    autoMounts = true    
    cacheDir = "$HOME/.singularity/cache"
    runOptions = "--cleanenv"
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minute
}

process {
    // GENERAL
    cache = true
    cpus = 1
    memory = 4.GB
    time = 12.h
    // errorStrategy = 'retry'
    // maxRetries = 5
    // maxErrors = 1000
    
    // CONTAINERS
    withLabel: bwa_samtools {
        container = 'docker://quay.io/grbot/bwa-samtools'
    }
    withLabel: gatk {
        container = 'docker://broadinstitute/gatk:4.1.3.0'
    }
}

// PROFILES
profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
        process.executor = 'pbs'
        process.queue = 'dev'
    }
}

// WORKFLOW VISUALISATION
trace {
    enabled = true
    file = "${params.project_name}/trace.txt"
}
timeline {
    enabled = true
    file = "${params.project_name}/timeline.html"
}
report {
    enabled = true
    file = "${params.project_name}/report.html"
}
