#!/usr/bin/env nextflow
nextflow.enable.dsl=2

params.runOptions = ""


manifest {
    author = 'Gerrit Botha'
    defaultBranch = 'main'
    homePage = 'https://github.com/grbot/varcall'
    description = ''
    mainScript = 'main.nf'
    version = ''
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/cache/.singularity"
    runOptions = "--cleanenv " + "${params.runOptions}"
}

executor{
    jobName = { "${task.name.replaceAll(' ','_')}" }    
    queueSize = 20
    // submitRateLimit = '10 min' // submit 10 jobs per minute
}

process {
    // GENERAL
    cache = true
    scratch = false  
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    cpus = 1
    memory = 4.GB
    time = 24.h
    maxForks = 10
    
    // CONTAINERS
    // withLabel: bwa_samtools {
    //     container = 'docker://quay.io/grbot/bwa-samtools'
    //     clusterOptions = "--exclusive=user"
    // }
    withLabel: gatk {
        container = 'docker://broadinstitute/gatk:4.4.0.0'
        // clusterOptions = [ '--constraint=avx2', '--exclusive=user' ]
    }
}

// PROFILES
profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
        process.executor = 'pbs'
        process.queue = 'dev'
    }
}

// WORKFLOW VISUALISATION
trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/varcall-exec-report/${params.workflow}/${params.project_name}_trace.txt"
}
timeline {
    enabled = true
    overwrite = true
    file = "${launchDir}/varcall-exec-report/${params.workflow}/${params.project_name}_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${launchDir}/varcall-exec-report/${params.workflow}/${params.project_name}_report.html"
}
