#!/usr/bin/env nextflow
nextflow.enable.dsl=2

params.runOptions = "-B /dataC/IDCM"

manifest {
    author = 'Gerrit Botha'
    defaultBranch = 'main'
    homePage = 'https://github.com/grbot/varcall'
    description = ''
    mainScript = 'main.nf'
    version = ''
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$HOME/.singularity"
    runOptions = "--cleanenv " + "${params.runOptions}"
}

executor{
//    jobName = { "$task.tag" }
    jobName = { "${task.name.replaceAll(' ','_')}" }    
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minute
}

process {
    // GENERAL
    cache = true //
    // scratch = true
    scratch = false  //'/local/phelelani/tmp' //CHANGE BACK TO "true" WHEN DONE!!!
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    cpus = 1
    memory = 4.GB
    time = 24.h
    // errorStrategy = 'retry'
    // maxRetries = 5
    // maxErrors = 1000
    
    // CONTAINERS
    withLabel: bwa_samtools {
        container = 'docker://quay.io/grbot/bwa-samtools'
    }
    withLabel: gatk {
        container = 'docker://broadinstitute/gatk:4.4.0.0'
        clusterOptions = "--constraint=avx2"
    }
}

// PROFILES
profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
        process.executor = 'pbs'
        process.queue = 'dev'
    }
}

// WORKFLOW VISUALISATION
trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/varcall-exec-report/${params.workflow}/${params.project_name}_trace.txt"
}
timeline {
    enabled = true
    overwrite = true
    file = "${launchDir}/varcall-exec-report/${params.workflow}/${params.project_name}_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${launchDir}/varcall-exec-report/${params.workflow}/${params.project_name}_report.html"
}
