params{
  project_name = "1kg"
  cohort_id =  "1kg-100"
  out_dir = "/scratch3/users/gerrit/nextflow-out"
  in_files = "/cbio/projects/020/gerrit/sentieon/v6.cgp.vf.va.chr20.filter-pass.100.1kg.vcf.gz*"  
  build = "b38"

  filter_op = "select" // Can be select or remove
  filter_samples = "/users/gerrit/scratch/filter_samples.tsv"

}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minute
}

process {
    cache = true

    withLabel: bcftools {
         container = 'docker://quay.io/grbot/bcftools'
    }

    withLabel: gatk {
         container = 'docker://broadinstitute/gatk:4.1.3.0'
    }

    cpus = 1
    memory = 4.GB
    time = 336.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000

}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
         process.executor = 'pbs'
         process.queue = 'dev'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.txt"
}

singularity {
  autoMounts = true
  enabled = true
  cacheDir = "${HOME}/.singularity"
}
