params{
    project_name = "sc"
    sample_sheet = "sahgp.samplesheet.tsv"
    cohort_id =  "sahgp"
    out_dir = "/spaces/mamana/recalling/${cohort_id}/"

    // GATK specific settings
    gatk_base = "/home/mamana/gatk-4.0.8.1"
    gatk_cg_mem = "4g" // memory reuirement for CombineGVCFs
    ref_seq = "/spaces/gerrit/projects/adme/dbs/gatk/bundle/2.8/b37/human_g1k_v37_decoy.fasta"
    dbsnp_sites = "/spaces/gerrit/projects/adme/dbs/gatk/bundle/2.8/b37/dbsnp_138.b37.vcf"

    chromosomes = "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y,MT"
//    gene_region_bed = "/home/mamana/recalling/gene-calling/data/gencode.v29lift37.annotation.bed"
    gene_region_bed = "/home/mamana/recalling/gene-calling/data/ensembl_genes_b37_20Nov2018_annotation_final.sorted.merged.bed"
    gVCF_file = "/spaces/gerrit/projects/adme/datasets/sahgp/gvcf/LP6005857-DNA_A02/LP6005857-DNA_A02.g.vcf.gz"
}


executor{
    jobName = { "$task.tag" }
}

process{
    withLabel: "bigmem"{
        memory = { 30.GB * task.attempt}
        time = { 96.h * task.attempt}
    }
}

profiles {
    standard {
        process.executor = 'local'
    }
    wits_slurm {
        process {
            executor = 'slurm'
            memory = { 2.GB * task.attempt}
            time = 96.h
            errorStrategy = 'retry'
            maxRetries = 5
            maxErrors = 1000
        }
    }
}
