params{

  build = "b37"

  project_name = "ri"
  sample_sheet = "/users/gerrit/projects/refimpute/varcall/genomics-db-import/b37-panel1.tsv"
  out_dir = "/cbio/users/gerrit/projects/refimpute/b37-panel1/nextflow-out-intervals"

  intervals="/users/gerrit/projects/refimpute/varcall/genomics-db-import/intervals.list.redo"

}

executor{
    jobName = { "$task.tag" }
    queueSize = 150
    submitRateLimit = '10 min' // submit 10 jobs per minute
}

process {
    cache = true

    withLabel: gatk {
         container = 'docker://broadinstitute/gatk:4.1.3.0'
    }

    cpus = 1
    memory = 4.GB
    time = 5.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000

}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
         process.executor = 'pbs'
         process.queue = 'dev'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.txt"
}

singularity {
  autoMounts = true
  enabled = true
}
