params{
  project_name = "project"
  sample_sheet = "/path-to-samplesheet"
  out_dir = "/path-to-output-dir"
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minutde
}

process {
    cache = true

    cpus = 1
    memory = 4.GB
    time = 12.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000

}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
         process.executor = 'pbs'
         process.queue = 'dev'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.txt"
}

report {
    enabled = true
    file = "${params.project_name}.report.html"
}

timeline {
    enabled = true
    file = "${params.project_name}.timeline.html"
}
