params{
  project_name = "refimpute"
  protocol = "panel-compare.v6-high"
  vcf_1 = "/cbio/projects/001/ref-panels/v6.high-cov/filter-vcf/v6.recal-SNP.recal-INDEL.chr20.filter-pass.vcf.gz" 
  vcf_2 = "/cbio/datasets/human/1kg/b38/high-coverage/vcf/CCDG_13607_B01_GRM_WGS_2019-02-19_chr20.recalibrated_variants.vcf.gz" 
  sample_list = "/users/gerrit/projects/refimpute/varcall/compare-vcf/1kg.samples.tsv"
  dbsnp = "/cbio/dbs/dbsnp/b38/155/GCF_000001405.39.canonical.chr20.vcf.gz"
  out_dir = "/cbio/projects/001/scratch/gerrit/projects/refimpute/v6.high-cov/vcf-compare-out"
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minutde
}

process {
    cache = true

    withLabel: bcftools {
         container = 'docker://quay.io/grbot/bcftools'
    }

    cpus = 1
    memory = 16.GB
    time = 48.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000

}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
}

trace {
    enabled = true
    overwrite = true
    file = "${params.project_name}.trace.txt"
}

singularity {
  autoMounts = true
  enabled = true
  cacheDir = "${HOME}/.singularity"
}
