params{
  project_name = "bw-baylor"
  sample_sheet = "/home/gerrit/code/recalling/bam-to-cram/bw-baylor.samplesheet.tsv"
  out_dir = "/mnt/synology/crams/datasets/bw-baylor/nextflow-out"

  ref_seq = "/global5/dbs/gatk/2.8/b37/human_g1k_v37_decoy.fasta"
 
  // Samtools settings
  samtools_base = "/opt/exp_soft/samtools-1.9/install/bin/"
}


executor{
    jobName = { "$task.tag" }
}


profiles {
    standard {
        process.executor = 'local'
        process.cpus = 2 
    }
    
    wits_slurm {
        process.executor = 'slurm'
        process.queue = 'batch'
        process.errorStrategy = 'retry'
	process.maxRetries = 5
        process.time = 96.h
	process.maxErrors = 1000
        process.clusterOptions = '--mail-user=gerrit.botha@uct.ac.za'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.txt"
}
