params{
  project_name = "ggvp"
  sample_sheet = "/users/gerrit/projects/impute-paper/varcall/combine-lanes/ggvp.samplesheet.tsv"
  out_dir = "/cbio/users/gerrit/scratch/nextflow-out/"
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minute
}

process {
    cache = true

    withLabel: bwa_samtools {
         container = 'docker://quay.io/grbot/bwa-samtools'
    }

    cpus = 1
    memory = 4.GB
    time = 24.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000

}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
         process.executor = 'pbs'
         process.queue = 'dev'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.txt"
}

singularity {
    autoMounts = true
    enabled = true
}
