params{
  project_name = "NA12878"
  sample_sheet = "/users/gerrit/projects/covid-wgs/varcall/cram-qc/NA12878.samplesheet.tsv"
  out_dir = "/ilifu/bio/projects/momics/nextflow/cram-qc-NA12878/out"
  ref_seq = "/cbio/dbs/gatk/hg38/Homo_sapiens_assembly38.fasta"
  ref_dict = "/cbio/dbs/gatk/hg38/Homo_sapiens_assembly38.dict" // Seems to be required for GATK, but we do not use it now.
  build = "b38" // or b37
  dup_cutoff = 20
  map_cutoff = 90
  freemix_cutoff = 0.05
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minutde
}

process {
    cache = true

    withLabel: mosdepth {
	container = 'docker://quay.io/biocontainers/mosdepth:0.3.3--h37c5b7d_2'
    }

    withLabel: gatk {
	container = 'docker://broadinstitute/gatk:latest'
    }

    withLabel: multiqc {
         container = 'docker://quay.io/biocontainers/multiqc:1.12--pyhdfd78af_0'
    }

    withLabel: samtools {
         container = 'docker://quay.io/biocontainers/samtools:1.6--hcd7b337_9'
    }

    withLabel: verifybamid2 {
         container = 'docker://quay.io/biocontainers/verifybamid2:2.0.1--h7a88ad0_7'
    }

    cpus = 1
    memory = 4.GB
    time = 12.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000

}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
         process.executor = 'pbs'
         process.queue = 'dev'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.tsv"
}

report {
    enabled = true
    file = "${params.project_name}.report.html"
}

timeline {
    enabled = true
    file = "${params.project_name}.timeline.html"
}

singularity {
  autoMounts = true
  enabled = true
  cacheDir = "${HOME}/.singularity"
}
