params{
  project_name = "project"
  sample_sheet = "/path-to-samplesheet"
  out_dir = "/path-to-output-dir"
  ref_seq = "/path-to-ref"
  
  // bwa
  bwa_threads = 32

  // GATK specific settings
  gatk_tmp_dir = "/cbio/users/gerrit/scratch/tmp"
  ref_seq = "/cbio/dbs/gatk/2.8/b37/human_g1k_v37_decoy.fasta"
  ref_seq_index = "/cbio/dbs/gatk/2.8/b37/human_g1k_v37_decoy.fasta.fai"
  ref_seq_amb = "/cbio/dbs/gatk/2.8/b37/human_g1k_v37_decoy.fasta.amb"
  ref_seq_ann = "/cbio/dbs/gatk/2.8/b37/human_g1k_v37_decoy.fasta.ann"
  ref_seq_bwt = "/cbio/dbs/gatk/2.8/b37/human_g1k_v37_decoy.fasta.bwt"
  ref_seq_pac = "/cbio/dbs/gatk/2.8/b37/human_g1k_v37_decoy.fasta.pac"
  ref_seq_sa = "/cbio/dbs/gatk/2.8/b37/human_g1k_v37_decoy.fasta.sa"
  known_indels_1 = "/cbio/dbs/gatk/2.8/b37/1000G_phase1.indels.b37.vcf"
  known_indels_1_index = "/cbio/dbs/gatk/2.8/b37/1000G_phase1.indels.b37.vcf.idx"
  known_indels_2 = "/cbio/dbs/gatk/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf"
  known_indels_2_index = "/cbio/dbs/gatk/2.8/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.idx"
  dbsnp = "/cbio/dbs/gatk/2.8/b37/dbsnp_138.b37.vcf"
  dbsnp_index = "/cbio/dbs/gatk/2.8/b37/dbsnp_138.b37.vcf.idx"
  
  // samtools
  memory_per_thread = "500M"

}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minutde
}

process {
    cache = true

    withLabel: bwa_samtools {
         container = 'docker://quay.io/grbot/bwa-samtools'
    }

    withLabel: gatk {
         container = 'docker://broadinstitute/gatk:4.1.3.0'
    }

    cpus = 1
    memory = 4.GB
    time = 12.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000

}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
         process.executor = 'pbs'
         process.queue = 'dev'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.txt"
}

singularity {
  autoMounts = true
  enabled = true
}
