params{
  project_name = "project"
  sample_sheet = "/path-to-samplesheet"
  out_dir = "/path-to-output-dir"
  
}

executor{
    jobName = { "$task.tag" }
    queueSize = 100
    submitRateLimit = '10 min' // submit 10 jobs per minutde
}

process {
    cache = true

    withLabel: fastq {
         container = 'docker://quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1'
    }

    withLabel: multiqc {
         container = 'docker://quay.io/biocontainers/multiqc:1.12--pyhdfd78af_0'
    }

    cpus = 1
    memory = 4.GB
    time = 12.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000

}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    wits {
        process.executor = 'slurm'
        process.queue = 'batch'
    }
    cbio {
         process.executor = 'pbs'
         process.queue = 'dev'
    }
}

trace {
    enabled = true
    file = "${params.project_name}.trace.tsv"
}

report {
    enabled = true
    file = "${params.project_name}.report.timeline"
}

timeline {
    enabled = true
    file = "${params.project_name}.timeline.html"
}

singularity {
  autoMounts = true
  enabled = true
  cacheDir = "${HOME}/.singularity"
}
